
<div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
 <img src = "assets/logo.png" height = "100" width = "100">
 <span class="navbar-brand">The lest social form of media</span>
 <ul class="navbar-nav">
 <li class="nav-item">
 <a class="nav-link" routerLink='/'>Home</a>
 </li>

 <li class="navbar-nav">
    <a class="nav-link"
    routerLink='/profile'>profile for the lova of god</a>
    </li>


 <li class="navbar-nav">
    <a class="nav-link"
    routerLink='/upload'>upload</a>
    </li>


 <li class="navbar-nav">
    <a class="nav-link"
    routerLink='/login'>login</a>
    </li>

   <li class="navbar-nav">
   <a class="nav-link"
   routerLink='/sign-up'>signup</a>
   </li>
 </ul>

</div>

