<body>

   <!-----Leaving this here to make reacding the comment code easier-->

   <!-- VIEW POSTS AREA-->
<div class="container" style="text-align:center"> <!-- the container -->
  <div class="row"> <!-- row -->
    <div class="col-sn-12"> <!-- column -->
      <!-- for loop of posts list -->
      <div *ngFor="let social of webService.social_list"> 
        <!-- Bootstrap card start -->
        <div class="card text-white bg-dark mb-3" style = "width: 50rem; text-align:center">
          <div class="card-header">
            <!-- the card header text -->
            <!-- Display post image -->
            
            <br>
            <img src = "{{webService.imagepath}}{{social.filePath}}" class="center" style="width: 500px;">
          </div>
          <br>
          <div class="card-body">
            <!-- Display of every post made in the DB-->
            Comment:
            {{social.body}}
            <br>
            Uploaded by:
            {{social.username}}
            <br>
            UserId:
            {{social.userID}}
            <br>
            Posted on:
            {{ social.date | date }} 
            </div>
            <div class="card-footer">

            Additional:
            <br>
            <div><!-- Buttons to call and pass values into the ts side -->
              <button class="btn btn-sm btn-info"[routerLink]="['/home', social.id]">Display replies</button>
               for {{social.body}}
            </div>
            <div>
              <button class="btn btn-sm btn-info" (click)="follow(social.userID)">Follow</button>
              {{social.username}}
            </div>
            <br>
            <div>
              <form method="POST" style="font-size: 10pt;" [formGroup]="postForm"  (ngSubmit)="submitNewAsset(social.id)" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="body" class="form-label">Make a new comment here</label>
                  <input type="textarea" class="form-control" id="body" formControlName="body">
                </div>
                <br>
                <button type="submit" id="postForm" class="btn btn-primary">Submit a new comment</button> <br/><br/>
              </form>
            </div>  
      
            
          </div>
          <div>
          </div> 
        </div>
      </div>
    </div> 
  </div> 
</div> 

